@charset "UTF-8";

body{
    margin : 0;
    font-family : "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    margin: 5px 50px 5px;
}

table{
    border-collapse: collapse;
    margin : 30px auto 30px;
}

th{
    border-bottom  : solid 1px #aaaaaa;
    padding : 5px 10px 5px;
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
    background:    -moz-linear-gradient(top, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
    background:      -o-linear-gradient(top, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
    background:     -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
    background:         linear-gradient(top, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
}

td{
    padding : 5px 10px 5px;
}

tbody > tr:nth-child(odd) > td{
    background-color : #f8f8f8;
    /*
    background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 50%, #ffffff 100%);
    background:    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    background:      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    background:     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    background:         linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%);
    */
}

.errorMessages{
    color: red;
}
