button {
    font-size : 0.9em;
    display: block;
    width : 200px;
    height : 45px;
    margin :  5px 10px 5px;
    padding : 5px 10px 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background :    -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background :      -o-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background :     -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background :         linear-gradient(top, #ffffff 0%, #dddddd 100%);
    border-radius         :5px 5px 5px 5px;
    -moz-border-radius    :5px 5px 5px 5px;
    -webkit-border-radius :5px 5px 5px 5px;
    -o-border-radius      :5px 5px 5px 5px;
    -ms-border-radius     :5px 5px 5px 5px;
}

#user-table button {
    font-size : 0.6em;
    width : 100px;
    height : 25px;
    margin :  5px 10px 5px;
    padding : 5px 10px 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background :    -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background :      -o-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background :     -ms-linear-gradient(top, #ffffff 0%, #dddddd 100%);
    background :         linear-gradient(top, #ffffff 0%, #dddddd 100%);
    border-radius         :5px 5px 5px 5px;
    -moz-border-radius    :5px 5px 5px 5px;
    -webkit-border-radius :5px 5px 5px 5px;
    -o-border-radius      :5px 5px 5px 5px;
    -ms-border-radius     :5px 5px 5px 5px;
}

button:hover {
    color : #ffffff;
    background : -webkit-linear-gradient(top, #000000 0%, #000000 100%);
    background :    -moz-linear-gradient(top, #000000 0%, #000000 100%);
    background :      -o-linear-gradient(top, #000000 0%, #000000 100%);
    background :     -ms-linear-gradient(top, #000000 0%, #000000 100%);
    background :         linear-gradient(top, #000000 0%, #000000 100%);
}

